<hr>
<img src="/images/anime-girl-peace.png" width="5%" style="border-radius:50px;">
 <h5>
  <div  style="display:inline-block;">
    <ul>Simple Debug  </ul>
  </div>
 </h5>
 <pre>
  {{ data | json_encode(constant('JSON_PRETTY_PRINT')) }}
 </pre> 
<hr>